<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side"
              position="end">
    <ac-card-form *ngIf='drawer_selector == "insertUpdateView"'
                  [selectedCard]='selectedCard'
                  (submitEvent)='submitHandler($event)'
                  (cancelEvent)='cancelHandler()'>
    </ac-card-form>
    <ac-movements *ngIf='selectedCard && drawer_selector == "movementsView"'
                  [selectedCard]='selectedCard'>

    </ac-movements>
  </mat-drawer>

  <ac-card-list [cards]='cards'
                (editCardEvent)='editHandler($event)'
                (movementsEvent)='movementsHandler($event)'>

  </ac-card-list>
  
  <button mat-raised-button
          color="primary"
          (click)="addCard()"
          *ngIf="!drawer.opened">
    Aggiungi
  </button>
</mat-drawer-container>
