<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side"
              position="end">
    <ac-card-form
                  [selectedCard]='selectedCard$ | async'
                  (submitEvent)='submitHandler($event)'
                  (cancelEvent)='cancelHandler()'>
    </ac-card-form>
  </mat-drawer>

  <ac-card-list [cards]='cards$ | async'
                (movementsEvent)='movementsHandler($event)'
                (deleteEvent)='deleteHandler($event)'>

  </ac-card-list>
  
  <button mat-raised-button
          color="primary"
          (click)="addCard()">
    Aggiungi
  </button>
</mat-drawer-container>
