<form #formRef="ngForm" [formGroup]="form">

  <h3>Contribuente</h3>

  <div formGroupName="contribuente" class="contribuente">
    <mat-form-field appearance="fill">
      <mat-label>Codice Fiscale</mat-label>
      <input matInput formControlName="codiceFiscale">
      <mat-error *ngIf="form.get('contribuente')!.get('codiceFiscale')!.hasError('required')">Campo richiesto</mat-error>
      <mat-error *ngIf="form.get('contribuente')!.get('codiceFiscale')!.hasError('invalidCF')">Codice fiscale non valido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cognome</mat-label>
      <input matInput formControlName="cognome">
      <mat-error *ngIf="form.get('contribuente')!.get('cognome')!.hasError('required')!">Campo richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="form.get('contribuente')!.get('nome')!.hasError('required')!">Campo richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data di nascita</mat-label>
      <input matInput formControlName="dataDiNascita" [matDatepicker]="dataDiNascita">
      <mat-datepicker-toggle matSuffix [for]="dataDiNascita"></mat-datepicker-toggle>
      <mat-datepicker #dataDiNascita></mat-datepicker>
      <mat-error *ngIf="form.get('contribuente')!.get('dataDiNascita')!.hasError('required')">Campo richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sesso</mat-label>
      <mat-select formControlName="sesso">
        <mat-option value="F">Femmina</mat-option>
        <mat-option value="M">Maschio</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('contribuente')!.get('sesso')!.hasError('required')">Campo richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Provincia di nascita</mat-label>
      <input matInput formControlName="provinciaDiNascita">
      <mat-error *ngIf="form.get('contribuente')!.get('provinciaDiNascita')!.hasError('required')">Campo richiesto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Comune di nascita</mat-label>
      <input matInput formControlName="comuneDiNascita">
      <mat-error *ngIf="form.get('contribuente')!.get('comuneDiNascita')!.hasError('required')">Campo richiesto</mat-error>
    </mat-form-field>
  </div>


  <div>
    <h3>Erario</h3>
    <button mat-mini-fab
            color="accent"
            (click)="addErario()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-grid-list cols="5" rowHeight="5.5rem" formArrayName="erario" class="erario">
      <ng-container *ngFor="let e of erario.controls; let i = index"
                    [formGroupName]="i">
        <ng-container>
          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Codice Tributo</mat-label>
              <input matInput formControlName="codiceTributo">
              <mat-error *ngIf="this.erario.controls[i].get('codiceTributo')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Anno di riferimento</mat-label>
              <input type="number" matInput formControlName="anno"
                     maxlength="4">
              <mat-error *ngIf="this.erario.controls[i].get('anno')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Importo di debito</mat-label>
              <input type="number" matInput formControlName="debito"
                     (change)="erarioDebtChange()">
              <mat-error *ngIf="this.erario.controls[i].get('debito')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Importo di credito</mat-label>
              <input type="number" matInput formControlName="credito"
                     (change)="erarioCreditChange()">
              <mat-error *ngIf="this.erario.controls[i].get('credito')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-mini-fab color="warn"
                    (click)="removeErario(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-grid-tile>
        </ng-container>
      </ng-container>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <ng-container *ngIf="(totaliErario$ | async)![0]">
          Totale debito: {{(totaliErario$ | async)![0] | currency:'EUR'}}
        </ng-container>
      </mat-grid-tile>
      <mat-grid-tile>
        <ng-container *ngIf="(totaliErario$ | async)![1]">
          Totale credito: {{(totaliErario$ | async)![1] | currency:'EUR'}}
        </ng-container>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>


  <div>
    <h3>INPS</h3>
    <button mat-mini-fab
            color="accent"
            (click)="addINPS()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-grid-list cols="8" rowHeight="5.5rem" formArrayName="inps" class="inps">
      <ng-container *ngFor="let e of inps.controls; let i = index">
        <ng-container [formGroupName]="i">

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Codice Sede</mat-label>
              <input matInput formControlName="codiceSede">
              <mat-error *ngIf="this.inps.controls[i].get('codiceSede')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Causale contributo</mat-label>
              <input matInput formControlName="causaleContributo">
              <mat-error *ngIf="this.inps.controls[i].get('causaleContributo')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Codice INPS</mat-label>
              <input matInput formControlName="codiceInps">
              <mat-error *ngIf="this.inps.controls[i].get('codiceInps')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Da</mat-label>
              <input matInput formControlName="da" [max]="getToDate(i)" [matDatepicker]="da">
              <mat-datepicker-toggle matSuffix [for]="da"></mat-datepicker-toggle>
              <mat-datepicker #da></mat-datepicker>
              <mat-error *ngIf="this.inps.controls[i].get('da')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>A</mat-label>
              <input matInput formControlName="a" [min]="getFromDate(i)" [matDatepicker]="a">
              <mat-datepicker-toggle matSuffix [for]="a"></mat-datepicker-toggle>
              <mat-datepicker #a></mat-datepicker>
              <mat-error *ngIf="this.inps.controls[i].get('a')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Debito</mat-label>
              <input type="number" matInput formControlName="debito"
                     (change)="inpsDebtChange()">
              <mat-error *ngIf="this.inps.controls[i].get('debito')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Credito</mat-label>
              <input type="number" matInput formControlName="credito"
                     (change)="inpsCreditChange()">
              <mat-error *ngIf="this.inps.controls[i].get('credito')!.hasError('required')">Campo richiesto</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-mini-fab color="warn"
                    (click)="removeINPS(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-grid-tile>
        </ng-container>
      </ng-container>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <ng-container *ngIf="(totaliInps$ | async)![0]">
          Totale credito: {{(totaliInps$ | async)![0] | currency:'EUR'}}
        </ng-container>
      </mat-grid-tile>
      <mat-grid-tile>
        <ng-container *ngIf="(totaliInps$ | async)![1]">
          Totale credito: {{(totaliInps$ | async)![1] | currency:'EUR'}}
        </ng-container>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <h2>Saldo totale:  {{totale$ | async | currency:'EUR'}}</h2>

    <button mat-raised-button type="button" class="full-width" color="primary"
            [disabled]="form.invalid"            
            (click)="onSubmit()">
      Invia
    </button>
  </div>
</form>


