<mat-form-field style="width:100%">
  <mat-select [(value)]="selectedCard"
              (selectionChange)="loadMovements()">
    <mat-option *ngFor="let card of cards"
                [value]="card">
      {{card.number}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div style="text-align:end; padding-right: 1rem;">
  <h1>
    <b [style.color]="balanceColor">
      {{balance | absoluteCurrency:'EUR'}}
    </b>
  </h1>
</div>
  <ac-movement *ngFor='let movement of movements'
               [date]='movement.timestamp'
               [amount]='movement.amount'
               [type]='movement.type'
               [title]='movement.title'
               [descr]='movement.description'></ac-movement>
