<mat-form-field style="width:100%">
  <mat-select [(value)]='selectedCardId'
              (selectionChange)="loadMovements($event)">
    <mat-option *ngFor="let card of cards$ | async"
                [value]="card._id">
      {{card.number}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div style="text-align:end; padding-right: 1rem;">
  <h1>
    <b [style.color]='balanceColor$ | async'>
      {{balance$ | async | absoluteCurrency:'EUR'}}
    </b>
  </h1>
</div>
  <ac-movement *ngFor='let movement of movements$ | async'
               [date]='movement.timestamp'
               [amount]='movement.amount'
               [type]='movement.type'
               [title]='movement.title'
               [descr]='movement.description'></ac-movement>
