<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-icon matPrefix>alternate_email</mat-icon>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="form.get('email')!.hasError('required')">Campo richiesto</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-icon matPrefix>vpn_key</mat-icon>
    <mat-label>Password</mat-label>
    <button mat-icon-button matSuffix (click)='visibility=!visibility'>
      <mat-icon matSuffix>
        {{visibility? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </button>
    <input [type]='visibility? "text":"password"' matInput formControlName="password">
    <mat-error *ngIf="form.get('password')!.hasError('required')">Campo richiesto</mat-error>
    <mat-error *ngIf="form.get('password')!.hasError('minlength')">Minimo 3 caratteri</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid">Invia</button>
  <div><button mat-button routerLink="../register">Crea un nuovo account</button></div>
</form>
