<div class="container">
  <mat-toolbar color="primary" >
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span style="margin-left: 1rem">136 Fintech - Angular Academy 2021 - BETA</span>
  </mat-toolbar>

  <mat-sidenav-container >
    <mat-sidenav #sidenav [mode]='"over"'
                 fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink='settings' (click)="sidenav.close()">Settings</a>
        <a mat-list-item routerLink='sign-in' (click)="sidenav.close()">Sign In</a>
        <a mat-list-item routerLink='register' (click)="sidenav.close()">Register</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
