.mat-raised-button {
  margin-top: 1rem;
  width: 100%;
}

.mat-drawer-container {
  min-height: 21rem;
  background-color: #424242;
}

.mat-drawer-side.mat-drawer-end {
  border-left: 0px;
  border-right: none;
}

.mat-drawer-content {
  min-height: 21rem;
}


.mat-drawer {
  min-width: 26rem;
}
