<form [formGroup]="form">

  <mat-form-field class="half-width-left" appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="form.get('name')!.hasError('required')">Campo richiesto</mat-error>
  </mat-form-field>
  <mat-form-field class="half-width-right" appearance="fill">
    <mat-label>Cognome</mat-label>
    <input matInput formControlName="surname">
    <mat-error *ngIf="form.get('surname')!.hasError('required')">Campo richiesto</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-icon matPrefix>credit_card</mat-icon>
    <mat-label>Numero carta di credito</mat-label>
    <input matInput
           formControlName="number"
           maxlength="19"
           (keyup)="transformNumber(number.value)"
           (blur)="transformNumber(number.value)"
           #number>
    <mat-error *ngIf="form.get('number')!.hasError('required')">Campo richiesto</mat-error>
    <mat-error *ngIf="form.get('number')!.hasError('minlength')">Sono stati inseriti meno di 16 caratteri.</mat-error>
    <mat-error *ngIf="form.get('number')!.hasError('maxlength')">Sono stati inseriti più di 16 caratteri.</mat-error>
  </mat-form-field>

  <mat-form-field class="half-width-left" appearance="fill">
    <mat-label>CVV</mat-label>
    <input matInput
           maxlength="3"       
           formControlName="code"  
           (keyup)="transformCode(code.value)"
           (blur)="transformCode(code.value)"
           #code>
    <mat-error *ngIf="form.get('code')!.hasError('required')">Campo richiesto</mat-error>
    <mat-error *ngIf="form.get('code')!.hasError('minlength')">Sono stati inseriti meno di 3 caratteri.</mat-error>
    <mat-error *ngIf="form.get('code')!.hasError('maxlength')">Sono stati inseriti più di 3 caratteri.</mat-error>
  </mat-form-field>

  <mat-form-field class="half-width-right" appearance="fill">
    <mat-label>Tipo carta</mat-label>
    <mat-select matInput formControlName="type">
      <mat-option value="visa">Visa</mat-option>
      <mat-option value="mastercard">Mastercard</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('type')!.hasError('required')">Campo richiesto</mat-error>
  </mat-form-field>


  <button mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="!form.valid" >Conferma</button>
  <button mat-raised-button
          color="secondary"
          (click)="onCancel()"
          type="button">Annulla</button>
</form>
