<ng-container *ngIf="location"><ac-map [coord]="location.coords"></ac-map></ng-container>

<form #formRef="ngForm" [formGroup]="form">
  <mat-form-field class="full-width"
                  appearance="fill">
    <mat-label>Scegli una data</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<div *ngIf='form.get("date")?.value'>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let hour of firstDecember.slots"
                     [value]="hour"
                     (click)="hourSelected(hour)">
      {{hour}}:00
    </mat-list-option>
  </mat-selection-list>
</div>
