<form *ngIf="fields">
  <mat-form-field class="full-width" appearance="fill" *ngFor="let field of fields">
    <mat-label>{{field.title}}</mat-label>

    <mat-icon *ngIf="field.prefixIcon" matprefix>{{field.prefixIcon}}</mat-icon>

    <input [type]="field.type" matInput [formControl]="field.formControl">

    <ng-container *ngIf='field.title.toLocaleLowerCase().indexOf("password") == null; else ref'>
      <mat-icon matSuffix (click)="toggleType(field)">
        {{field.type == "password" ? "visibility" : "visibility_off"}}
      </mat-icon>
    </ng-container>
    <ng-template #ref>
      <mat-icon matSuffix (click)="clearHandler(field.formControl)">
        close
      </mat-icon>
    </ng-template>

    <ng-container *ngIf="field.errors">
      <ng-container *ngFor="let error of field.errors">
        <mat-error *ngIf="field.formControl.hasError(error.type)">
          {{error.message}}
        </mat-error>
      </ng-container>
    </ng-container>

  </mat-form-field>
  <button mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!formIsValid()"
          class="full-width-button">
    Register
  </button>
</form>

<button mat-button>{{goToRegister}}</button>

HALO
